h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}

.group-class{
	width: 200px;
	height: 200px;
	border: solid black 1px;
	border-radius: 3px;
	margin: 5px;
	text-align: center;
	display: inline-block;
}
.group-name-class{
	font-size: 3em;
	color: darkblue;
}
.error-class{
	border: solid tomato 3px;
	padding: 5px;
	border-radius: 5px;
	color: red;
}
.error-class:empty {
   display: none;
}
TR:nth-child(odd) {
    background: #EEE;
}
